body {
    
}

.paragraph {
    text-align: center;
}

.h2 {
    text-align: center;
    margin-top: 100px;
}

.maincontainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 200px;

}


#grey {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: gray;
}


#red {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: red;
}


#green {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: green;
}


#blue {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blue;
}

#purple {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: purple;
}