body {
    background-color: black;
    color: white;
    margin-top: 10%;
    /* margin-left: 30%; */
}

.container {
    height: 350px;
    width: 650px;
    background-color: #27231d;
    border-radius: 10px;
    text-align: center;
}


#inp {
    height: 35px;
    width: 400px;
    border-color: rgba(10, 7, 168, 0.938);
    border-radius: 5px;
    font-size: 40px;

}


#btn1 {
    background-color: rgba(94, 48, 3, 0.952);
    height: 38px;
    font-weight: bold;
    width: 55px;
    border-radius: 3px;
    color: white;
    font-size: 20px;

}



li {
    margin-right: 84%;
}




