body {
    background-color: black;
    color: white;
}

#time {
    font-size: 40px;
    margin: 20%;

}


#startbtn {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px;
    margin-left: 80px;
}


#stopbtn {
    background-color: rgba(255, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px;

}


#resetbtn {
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px;

}


#heading {
    text-align: center;
    color: orange;
}