body {
    background-color: black;
    color: white;
}

h1 {
    color: orange;
    text-align: center;

}


.claculator {
    border: 2px solid red;
    height: 410px;
    width: 320px;
    border-radius: 8px;

}



#display {
    height: 40px;
    width: 310px;
    outline: none;
    border-color: blue;
    border-radius: 7px;
    font-size: 30px;
    background-color: #ebdcdcf3;

}



button {
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    margin: 4px;
}
button:hover {
    background-color: #1e1e1e;
}


#cl {
    background-color: red;
}

#del {
    background-color: blue;
}

#equal {
    background-color: green;
}