body {
    background-color: black;
    color: white;
}

h1 {
    color: orange;
    text-align: center;

}


.claculator {
    border: 2px solid white;
    background: linear-gradient(45deg, red, blue);
    height: 410px;
    width: 320px;
    border-radius: 8px;

}



#display {
    height: 40px;
    width: 310px;
    outline: none;
    border-color: blue;
    border-radius: 7px;
    font-size: 40px;
    background-color: #ebdcdcf3;
    margin-top: 1px;

}



button {
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    margin: 4px;
}
button:hover {
    background-color: #1e1e1e;
}


#cl {
    background-color: rgba(255, 0, 0, 0.8);
}

#del {
    background-color: rgb(31, 31, 190);
}

#equal {
    background-color: rgb(5, 156, 5);
}