body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    color: orange;
    margin-top: 40px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #1e1e;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 15vmin;
    color: white;
}

#reset_game {
    padding: 8px;
    font-size: 20px;
    background-color: indigo;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;

}

#new_game {
    padding: 8px;
    font-size: 20px;
    background-color: indigo;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    
    
}


.hide {
    display: none;
}



